<html>
<header>
    <script src="/static/js/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/css/semantic.min.css">
    <script src="/static/js/semantic.min.js"></script>
    {%- block header %}

    {% endblock -%}
</header>
<div class="ui secondary pointing menu">
    <a class="item">
        Home
    </a>
    <a class="item{% if 'mapping' in request.endpoint %} active{% endif %}" href="{{ url_for('mapping.landing') }}">
        HOTAS Control Mapping
    </a>
    <a class="item{% if 'kneeboard' in request.endpoint %} active{% endif %}" href="{{ url_for('kneeboard.landing') }}">
        Mission Kneeboard Editor
    </a>
</div>
<div class="ui segment">
    <p>
        {%- block content %}

        {% endblock -%}
    </p>
</div>


<footer>
    {%- block footer %}

    {% endblock -%}
</footer>
</html>
